.works__heading {
  font-family: 'Bitter', serif;
  font-size: 36px;
  border-bottom: 1px solid #cccccc; }

.work-overview__img, .sidebar__heading {
  font-family: 'Bitter', serif;
  font-size: 24px; }

.portfolio {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
  position: relative; }

.global-nav-list, .sidebar-list {
  margin: 0;
  padding: 0; }

.global-nav-list__link, .work-overview__img-link, .work-overview__more-link, .sidebar-list__link {
  color: #3583aa;
  text-decoration: none; }
  .global-nav-list__link:hover, .work-overview__img-link:hover, .work-overview__more-link:hover, .sidebar-list__link:hover {
    text-decoration: underline; }

.portfolio {
  background-image: url(9c51512420d70040e8aab73d831949b5.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto; }

.header {
  width: 960px;
  height: 100px;
  margin: 0 auto; }
  .header__global-nav {
    float: right;
    margin-top: 60px; }

.global-nav-list__item {
  float: left;
  list-style: none;
  margin: 0 20px;
  font-size: 20px;
  font-family: 'Bitter', serif; }

.global-nav-list__link {
  color: #ffffff; }
  .global-nav-list__link:hover {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
    text-decoration: none; }

.article {
  clear: both;
  background-color: #ffffff;
  margin-top: 500px;
  padding: 35px 0; }
  .article__content {
    width: 960px;
    margin: 0 auto; }
  .article:after {
    content: "";
    display: block;
    clear: both; }

.works {
  float: left;
  width: 700px;
  margin: 0 10px; }

.work-overview {
  margin-bottom: 35px; }
  .work-overview__img:hover {
    opacity: 0.8; }

.sidebar {
  float: right;
  width: 200px;
  margin: 0 10px 35px 30px;
  font-family: 'Bitter', serif; }
  .sidebar__heading {
    margin-bottom: 10px; }

.sidebar-list {
  font-size: 16px;
  margin-left: 20px; }
  .sidebar-list__link {
    color: #333333; }

.footer {
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  background-color: #767671; }
  .footer__copyright {
    font-size: 12px; }
